{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="row contenido">
    <div class="large-12 columns">

        <ul class="breadcrumbs">
          <li><a href="{{ BASE_URL }}">Inicio</a></li>
          <li><a href="{{ BASE_URL }}/accounts/profile/">Cuentas</a></li>
          {% if actual %}<li class="current"><a href="#">{{actual}}</a></li>{% endif %}
        </ul>

      <div class="row">
        
        


    <!-- Thumbnails -->

        <div class="large-12 columns">
          <div class="row">

            <div class="large-3  columns">
                
                <div class="sidebar">
                    <p>Mi cuenta</p>
                    
                    <ul> 
                        <li><a href="{{ BASE_URL }}/accounts/profile/">Dashboard</a></li>
                        <li><a href="{{ BASE_URL }}/accounts/profile/changeInformation/">Información de la cuenta</a></li>
                        <li><a href="{{ BASE_URL }}/accounts/profile/billingAddress/">Mi dirección de facturación</a></li>
                        <li><a href="{{ BASE_URL }}/accounts/profile/shippingAddress/">Mi dirección de envio</a></li>
                        <!-- <li><a href="#">Mis pedidos</a></li>
                        <li><a href="#">Mi lista de deseados</a></li>-->
                        <li><hr></li>
                        <li><a href="{{ BASE_URL }}/accounts/logout/">Logout</a></li>
                        <li><a href="{{ BASE_URL }}/store/">Ir a la tienda</a></li>
                    </ul>
                </div>
                
            </div>
            
            <div class="large-9 columns">
                
                <div class="row dashboard">
                {% block profile %}

                    <div class="large-12 columns">
                        <h1>Resumen de la cuenta</h1>
                        <p>
                            <strong>Hola, {{ user.first_name }} {{ user.last_name }}</strong><br><br>
                            En tu Dashboard puedes ver un resumen de tu información de facturación y envio, asi el estatus de tus compras recientes y otras opciones de en tu cuenta.

                            
                        </p>
                    </div>

                    <div class="large-12 columns">

                        <h2>Información de la cuenta</h2>

                        <div class="row">
                            
                            <div class="large-4  columns">
                                
                                <p class="formato">
                                    Información de contacto <a href="{{ BASE_URL }}/accounts/profile/changeInformation/" class="mini">editar</a>
                                </p>

                                <ul class="formato">
                                    <li>{{ user.first_name }} {{ user.last_name }}</li>    
                                    <li>{{ user.email }}</li>
                                    <li><a href="#">Cambiar contraseña</a></li>
                                </ul>
                                

                            </div>
                            <div class="large-4 omega columns">
                                
                                <p class="formato">Dirección de facturación <a href="{{ BASE_URL }}/accounts/profile/billingAddress/" class="mini">editar</a></p>

                                <ul class="formato">
                                    <li>{{ profile.calle }}</li>    
                                    <li>{{ profile.direccion }}, {{profile.cp}}</li>
                                    <li>{{ profile.ciudad }}, {{profile.estado}}</li>
                                    <li>{{ profile.telefono }}</li>
                                </ul>

                            </div>
                            <div class="large-4  columns">
                                
                                <p class="formato">Dirección de envio <a href="{{ BASE_URL }}/accounts/profile/shippingAddress/" class="mini">editar</a></p>

                                <ul class="formato">
                                    <li>{{ profile.calle_envio }}</li>    
                                    <li>{{ profile.direccion_envio }}, {{profile.cp_envio}}</li>
                                    <li>{{ profile.ciudad_envio }}, {{profile.estado_envio}}</li>
                                    <li>{{ profile.telefono_envio }}</li>
                                </ul>

                            </div>

                        </div>

                    </div>

                    



                {% endblock %}
                </div>
                
            </div>

          </div>

    <!-- End Thumbnails -->


  
          </div>
        </div>
      </div>




    </div>
  </div>


{% endblock %}