html, body {
	width:100%;
	height: 100%;
}

body {
	background: #383836;
}

body.fondo {
	background: url(../images/background.jpg) no-repeat center center;
	background-position: fixed;
	background-size: cover;
}

.orbit-bullets {
	display:none;
}

.top-nav {
	background: #3b3b3a;
}

.top-bar {
	background:#3b3b3a;
}

.whiteBlock {
	background: white;
}

.footer {
	background: url(../img/foot.jpg) repeat-y center center;
	background-size: cover;
	padding-top: 0em;
	
	border-top:3px solid #575756;

}

.footer.gun {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}

.footer .content {
	position: relative;
}



.footer p {
	padding-top: 1em;
	font-size: 0.8em;
	color:#EEE;
}


.footer .social {
	list-style: none;
	padding-top: 0.5em;
}

.footer .social li {
	float: left; margin-right: 3px;
}

.footer .social li a {
	display: block;
	width:32px;
	height: 32px;
	background: red;
}

.footer .social li a.twitter {
	background:  url(../img/tw.png) no-repeat center center !important;
	background-size: 24px !important;
}

.footer .social li a.facebook {
	background:  url(../img/fb.png) no-repeat center center !important;
	background-size: 24px !important;
}

.footer .social li a.pinterest {
	background:  url(../img/pin.png) no-repeat center center !important;
	background-size: 24px !important;
}

.debug .columns {
	background: red;
}


.colores {
	padding-bottom: 20px;
}

.colores img {
	width:54px;
}


.producto .basket {
	border:2px solid #dadada;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 1em;
}

.producto .basket .preview {
	height: 200px;
}

.producto .basket  {
	position: relative;
}

.producto .basket .car {
	position: absolute;
	right: 0px;
	display: block;
	width:48px;
	padding: 5px;
	background: #dadada;
	border-radius: 6px;
}

.producto h5 {
	color:#878787;
	font-family: 'Nobile', sans-serif;
	font-weight: 900;
	font-size: 1em;
}

.producto h6 {
	color:#878787;
	font-family: 'Nobile', sans-serif;
	font-weight: 100;
	font-size: 0.8em;
}


/* FORMULA */

.formula input.texto {
	background: #FFF;
	border:3px solid #DDD;
	padding:1.1em 0.8em !important;
	outline: none;
}


.formula input.texto:focus {
	outline: none !important;
	border-color:#47bac1;
}

.formula .boton {
	display: block;
	width:100%;
	padding:0.6em 0.5em !important;
	border:0px solid #000;
	background: #16393b;
	color:#EEE;
	text-align: center;
	line-height: normal;
	font-family: inherit;
	font-size: 1em !important;
	margin: 0;
	align-items: flex-start;
	white-space: pre;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	font: -webkit-small-control;
	-webkit-font-smoothing: antialiased;
}

.formula .separadorDerecho {
	min-height: 320px;
	border-right:2px solid #EEE;
}

.formula .separadorIzquierdo {
	min-height: 320px;
	border-left:2px solid #EEE;
}

.formula .errorlist {
	list-style: none;
	border:2px solid #e74c3c;
	color:#e74c3c;
	border-radius: 5px;
	padding: 5px;
	font-size: 0.8em;
	float: right;
}


.formula .success {
	background-color: #58d68d;
	border-color: #58d68d;
	color:#FFF;
	font-size: 1em;
	padding:1em;
	text-align: center;
	margin-bottom: 1em;
}

.formula .success h3 {
	color:#FFF;
}


.sidebar {
	font: normal 700 17px / 17px "source_sans_probold",helvetica,sans-serif;
	line-height: 17px;
}

.sidebar ul {
	list-style: none;
	font-size: 0.9em;
	font-family: "source_sans_proregular",helvetica,sans-serif;
} 

.sidebar ul li a {
	color:#555;
}

.sidebar ul li a:hover {
	color:#47bac1;
}


.dashboard {
	color:#333;
	font-family: "source_sans_proregular",helvetica,sans-serif;
}

.dashboard h1, 
.dashboard h2,
.dashboard h3,
.dashboard h4,
.dashboard h5,
.dashboard h6 {
	border-bottom: 3px solid #EEE;
}

.dashboard h1 {
	font-size: 2em;
	color:#222;
}

.dashboard h2 {
	font-size: 1.4em;
	color:#333;
	margin-bottom: 0px;
}


.dashboard p {
	line-height: 1.5em;
	color:#333;
}


.dashboard .omega {
	border-right: 3px solid #EEE;
	border-left: 3px solid #EEE;
	min-height: 150px;
}


.dashboard p.formato {
	padding:1em 0.5em;
	margin: 0px;
}

.dashboard p.formato a.mini {
	font-size: 12px;
	font-family: "source_sans_probold",helvetica,sans-serif;
}

.dashboard ul.formato {
	margin: 0px !important;
	padding:0em 0.5em;
	list-style: none;
	font-size: 0.9em;
}



.cart .sidebar {
	color:#333;
	font-family: "source_sans_probold",helvetica,sans-serif;
}

.cart .sidebar h3 {
	border-bottom: 3px solid #EEE;
	font-size: 1.3em;
}

.cart .sidebar p {
	margin: 0px;
}

.cart .sidebar ul {
	margin: 0px;
	margin-bottom: 1em;
}

.cart .sidebar ul li {
	font-family: "source_sans_prolight",helvetica,sans-serif;
	font-size: 12px;
	color:#888;
}


.nicetable {
	background: white;
	border-collapse: collapse;
	border:3px solid #EEE;
	color:#DDD;
	width: 100%;
	font-family: "source_sans_proregular",helvetica,sans-serif;
	font-size: 0.9em;
}

.nicetable thead { background: none; border-bottom: 3px solid #EEE; }
.nicetable thead tr th { color:#CCC; }

.nicetable tbody { }
.nicetable tbody tr { border-bottom: 1px solid #EEE; }
.nicetable tbody tr td { color:#888; }
.nicetable tbody tr td a { color:#888; font-size: 14px; }
.nicetable tbody tr td input { 
	border:3px solid #EEE !important;
	border-radius: 5px;
	background: #FFF;
	font-size: 12px;
	color:#CCC;
	width:50px;
	box-shadow: none;
	float: left;
}
.nicetable .fa-trash-o {
	float: left;
	margin-left: 1em;
	margin-top: 7px;

}
.nicetable tfoot { border-top: 3px solid #EEE; background: white; }
.nicetable tfoot tr td { color:#CCC; }
.nicetable tfoot tr td input { 
	border:3px solid #EEE !important;
	border-radius: 5px;
	background: #FFF;
	font-size: 12px;
	color:#CCC;
	width:250px;
	box-shadow: none;
	margin-top: 10px;
}

.cart .bloque {
	background: #EEE;
	font-family: "source_sans_probold",helvetica,sans-serif;
	color:#666;
	padding: 1.5em;
	font-size: 0.9em;
	margin-bottom: 1em;
}

.cart .total {
	font-family: "source_sans_probold",helvetica,sans-serif;
	color:#666;
	padding: 1.0em;
	font-size: 1.3em;
}


@media only screen and (max-width: 939px) {
	
	/* Mobiles */

	.top-bar .logo img {
		padding-top: 0px;
		height: 45px;
	}

	.footer .mark1 {
		position: absolute;
		top:-130px;
		width:500px;
	}
	
	.formula .separadorDerecho {
		min-height: 320px;
		border-right:0px solid #EEE;
	}

	.formula .separadorIzquierdo {
		min-height: 320px;
		border-left:0px solid #EEE;
		margin-bottom: 2em;
	}


}

@media only screen and (min-width: 940px) {
	
	/* Desktop */

	.top-bar {
		height: 90px;
	}

	.top-bar .logo img {
		padding-top: 12px;
	}

	.top-bar .name {
		height: 90px;
	}

	.top-bar .logo img {
		padding-top: 12px;
	}

	.top-bar-section {
		top: -50px;
	}
	
	.top-bar-section ul li {
		font-size:14px;
		font-family: "asapregular", "Lucida grande", "Arial", sans-serif;
	}
	
	.contenido {
		padding-bottom: 3em;	
	}
	
	.footer .mark1 {
		position: absolute;
		top:-210px;
		width:800px;
	}
	
	.header {
		position: relative;
	}
	
	.search {
		float: right;
		width: 200px; 
	}

	.search input, .search input:focus {
		background:#FFF url("../img/lupa.png") no-repeat 170px 2px;
		border:none;
		border-radius: 25px;
	}



}