{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Red Carpet : Caja{% endblock %}
{% block debug %}{% if debug %}<div class="debug"><pre>{{debug}}</pre></div>{% endif %}{% endblock %}
{% block content %}


<div class="row contenido">
    <div class="large-12 columns">

        <ul class="breadcrumbs">
          <li><a href="{{ BASE_URL }}/">Inicio</a></li>
          <li><a href="{{ BASE_URL }}/store/">Tienda</a></li>
          {% if actual %}<li class="current"><a href="#">{{actual}}</a></li>{% endif %}
        </ul>

      <div class="row cart">
        
        <div class="large-8 columns">
            <div class="row">

                <div class="large-12 columns">

                    <form action="{{ BASE_URL }}/store/checkout/{{save}}" enctype="multipart/form-data" method="post">
                    {% csrf_token %} 
                    
                    {{ formula.non_field_errors }}

                    {{ formula.custom.errors }}

                    {% if step == "confirm" %}
                        
                        <div class="hidemyass">
                            <select multiple="multiple" id="id_productos" name="productos">
                                {%for items in lista %}
                                    <option selected="selected" value="{{items.id}}">{{items.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="fieldWrapper">
                            {{ formula.productos.errors }} 
                            {{ formula.comprador.errors }}
                        </div>

                        <table class="nicetable">
                            
                            <thead>
                                <tr>
                                    <th colspan="2">PRODUCTO</th>
                                    <th>COLOR</th>
                                    <th>ELIMINAR</th>
                                    <th>TOTAL</th>
                                </tr>
                            </thead>

                            <tbody>
                                {%for items in lista %}
                                <tr>
                                    <td width="20%" align="center">
                                        {% if items.imagen == '' %}
                                            <img src="{{ BASE_URL}}/static/img/noimage.jpg" width="50">
                                        {% else %}
                                            <img src="/media/{{items.imagen}}" width="50">
                                        {% endif %}
                                    </td>
                                    <td width="45%">{{items.nombre}}</td>
                                    <td width="10%">{% for obj in items.colores.all %} {{obj.color}} {% endfor %}</td>
                                    <td width="15%"><!-- <input type="text" class="mini" value="1">--><a href="{{ BASE_URL }}/api/delItem?id={{ items.id }}" class="fa fa-trash-o"></a></td>
                                    <td width="10%">${{items.precio}}</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            <!--
                            <tfoot>
                                <tr>
                                    <td>PROMO CODE</td>
                                    <td colspan="4">
                                        <input type="text" value="" placeholder="Coupon">
                                    </td>
                                </tr>
                            </tfoot>
                            -->
                            

                        </table>

                        <div class="bloque">
                            <span class="right">${{ subtotal }}</span>
                            SUBTOTAL
                        </div>

                        <div class="bloque">
                            <span class="right">$150.00</span>
                            ENVIO ESTANDAR POR DHL
                        </div>

                        <div class="total">
                            <span class="right">${{ total }}</span>
                            TOTAL:
                        </div>

                        <a href="{{ BASE_URL }}/store/" class="niceButton left medium">Seguir comprando</a>

                        <input type="submit" value="Confirmar orden" class="niceButton right medium " />

                        </form>

                    {% elif step == "address" %}

                        <table class="nicetable">
                            <caption>Dirección de envio</caption>

                            <tbody>

                                <tr>
                                    <td>Entregar a:</td>
                                    <td>{{ formula.fac_nombre.errors }}
                                        <input type="text" name="fac_nombre" value="{{ user.first_name }} {{ user.last_name }}" placeholder="{{ user.first_name }} {{ user.last_name }}">
                                    <p style="clear:both;">
                                        <small>Dejalo en blanco para entregarlo a tu nombre.</small>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Calle y Número</td>
                                    <td>{{ formula.fac_calle.errors }}<input type="text" name="fac_calle" value="{% if profile.calle %}{{profile.calle}}{% endif %}" placeholder="Calle #ext #int"></td>
                                </tr>

                                <tr>
                                    <td>Colonia o Poblado</td>
                                    <td>{{ formula.fac_colonia.errors }}<input type="text" name="fac_colonia" value="{% if profile.direccion %}{{profile.direccion}}{% endif %}" placeholder="Colonia"></td>
                                </tr>

                                <tr>
                                    <td>C.P</td>
                                    <td>{{ formula.fac_cp.errors }}<input type="text" name="fac_cp" value="{% if profile.cp %}{{profile.cp}}{% endif %}" maxlength="5" size="5" placeholder=""></td>
                                </tr>

                                <tr>
                                    <td>Ciudad</td>
                                    <td>{{ formula.fac_ciudad.errors }}<input type="text" name="fac_ciudad" value="{% if profile.ciudad %}{{profile.ciudad}}{% endif %}" placeholder="Ciudad"></td>
                                </tr>

                                <tr>
                                    <td>Estado</td>
                                    <td>{{ formula.fac_estado.errors }}<select name="fac_estado" id="id_fac_estado">
                                            <option value="Aguascalientes">Aguascalientes</option>
                                            <option value="Baja California">Baja California</option>
                                            <option value="Baja California Sur">Baja California Sur</option>
                                            <option value="Campeche">Campeche</option>
                                            <option value="Chiapas">Chiapas</option>
                                            <option value="Chihuahua">Chihuahua</option>
                                            <option value="Coahuila">Coahuila</option>
                                            <option value="Colima">Colima</option>
                                            <option value="Distrito Federal">Distrito Federal</option>
                                            <option value="Durango">Durango</option>
                                            <option value="Estado de México">Estado de México</option>
                                            <option value="Guanajuato">Guanajuato</option>
                                            <option value="Guerrero">Guerrero</option>
                                            <option value="Hidalgo">Hidalgo</option>
                                            <option value="Jalisco">Jalisco</option>
                                            <option value="Michoacán">Michoacán</option>
                                            <option value="Morelos">Morelos</option>
                                            <option value="Nayarit">Nayarit</option>
                                            <option value="Nuevo León">Nuevo León</option>
                                            <option value="Oaxaca">Oaxaca</option>
                                            <option value="Puebla">Puebla</option>
                                            <option value="Querétaro">Querétaro</option>
                                            <option value="Quintana Roo">Quintana Roo</option>
                                            <option value="San Luis Potosí">San Luis Potosí</option>
                                            <option value="Sinaloa">Sinaloa</option>
                                            <option value="Sonora">Sonora</option>
                                            <option value="Tabasco">Tabasco</option>
                                            <option value="Tamaulipas">Tamaulipas</option>
                                            <option value="Tlaxcala">Tlaxcala</option>
                                            <option value="Veracruz">Veracruz</option>
                                            <option value="Yucatán">Yucatán</option>
                                            <option value="Zacatecas">Zacatecas</option>
                                        </select></td>
                                </tr>



                            </tbody>

                        </table>

                        <table class="nicetable">
                            <caption>Dirección de facturación</caption>

                            <tbody>

                                <tr>
                                    <td>Facturar a:</td>
                                    <td>{{ formula.envio_nombre.errors }}
                                        <input type="text" name="envio_nombre" value="{{ user.first_name }} {{ user.last_name }}" placeholder="{{ user.first_name }} {{ user.last_name }}">
                                    <p style="clear:both;">
                                        <small>Dejalo en blanco para entregarlo a tu nombre.</small>
                                    </td>
                                </tr>

                               
                                <tr>
                                    <td>Calle y Número</td>
                                    <td>{{ formula.envio_calle.errors }}<input type="text" name="envio_calle" value="{% if profile.calle %}{{profile.calle}}{% endif %}" placeholder="Calle #ext #int"></td>
                                </tr>

                                <tr>
                                    <td>Colonia o Poblado</td>
                                    <td>{{ formula.envio_colonia.errors }}<input type="text" name="envio_colonia" value="{% if profile.direccion %}{{profile.direccion}}{% endif %}" placeholder="Colonia"></td>
                                </tr>

                                <tr>
                                    <td>C.P</td>
                                    <td>{{ formula.envio_cp.errors }}<input type="text" name="envio_cp" value="{% if profile.cp %}{{profile.cp}}{% endif %}" maxlength="5" size="5" placeholder=""></td>
                                </tr>

                                <tr>
                                    <td>Ciudad</td>
                                    <td>{{ formula.envio_ciudad.errors }}<input type="text" name="envio_ciudad" value="{% if profile.ciudad %}{{profile.ciudad}}{% endif %}" placeholder="Ciudad"></td>
                                </tr>

                                <tr>
                                    <td>Estado</td>
                                    <td>{{ formula.envio_estado.errors }}<select name="envio_estado" id="id_envio_estado">
                                            <option value="Aguascalientes">Aguascalientes</option>
                                            <option value="Baja California">Baja California</option>
                                            <option value="Baja California Sur">Baja California Sur</option>
                                            <option value="Campeche">Campeche</option>
                                            <option value="Chiapas">Chiapas</option>
                                            <option value="Chihuahua">Chihuahua</option>
                                            <option value="Coahuila">Coahuila</option>
                                            <option value="Colima">Colima</option>
                                            <option value="Distrito Federal">Distrito Federal</option>
                                            <option value="Durango">Durango</option>
                                            <option value="Estado de México">Estado de México</option>
                                            <option value="Guanajuato">Guanajuato</option>
                                            <option value="Guerrero">Guerrero</option>
                                            <option value="Hidalgo">Hidalgo</option>
                                            <option value="Jalisco">Jalisco</option>
                                            <option value="Michoacán">Michoacán</option>
                                            <option value="Morelos">Morelos</option>
                                            <option value="Nayarit">Nayarit</option>
                                            <option value="Nuevo León">Nuevo León</option>
                                            <option value="Oaxaca">Oaxaca</option>
                                            <option value="Puebla">Puebla</option>
                                            <option value="Querétaro">Querétaro</option>
                                            <option value="Quintana Roo">Quintana Roo</option>
                                            <option value="San Luis Potosí">San Luis Potosí</option>
                                            <option value="Sinaloa">Sinaloa</option>
                                            <option value="Sonora">Sonora</option>
                                            <option value="Tabasco">Tabasco</option>
                                            <option value="Tamaulipas">Tamaulipas</option>
                                            <option value="Tlaxcala">Tlaxcala</option>
                                            <option value="Veracruz">Veracruz</option>
                                            <option value="Yucatán">Yucatán</option>
                                            <option value="Zacatecas">Zacatecas</option>
                                        </select></td>
                                </tr>

                            </tbody>

                        </table>

                        <a href="{{ BASE_URL }}/store/" class="niceButton left medium">Cancelar pedido</a>

                        <input type="submit" value="Confirmar direcciones" class="niceButton right medium " />

                        </form>

                    {% elif step == "payment" %}

                        <table class="nicetable payment">
                            <caption>Metodo de envio</caption>

                            <tbody>

                                <tr>
                                    <td><input type="radio" value="estandar" name="shipping" id="shipping" checked="checked" class="radio">
                                        <label class="biglabel" for="shipping">
                                            <img src="/static/images/icons/payments-cards/png/estafeta.png">

                                            Metodo de envio estandar por DHL - $150.00
                                            
                                        </label> 
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                        <table class="nicetable payment">
                            <caption>Metodo de pago</caption>

                            <tbody>

                                <tr>
                                    <td>
                                        <input type="radio" value="paypal" name="payment" id="paypal"  checked="checked"  class="radio">
                                        <label class="biglabel" for="paypal">
                                            <img src="/static/images/icons/payments-cards/png/visa5.png">
                                            <img src="/static/images/icons/payments-cards/png/mastercard5.png">
                                            <img src="/static/images/icons/payments-cards/png/american16.png">
                                            Vía paypal
                                        </label> 

                                        <input type="radio" value="conectaio" name="payment" id="conectaio" class="radio">
                                        <label class="biglabel" for="conectaio">
                                            <img src="/static/images/icons/payments-cards/png/oxxo.png">
                                            Vía Oxxo
                                        </label> 
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                        <a href="{{ BASE_URL }}/store/" class="niceButton left medium">Cancelar pedido</a>

                        <input type="submit" value="Pagar pedido" class="niceButton right medium " />

                        </form>

                    {% elif step == "customer" %}

                        </form>

                        <table class="nicetable">
                            <caption>Recibo de pago</caption>

                            <thead>
                                <tr>
                                    <th colspan="2" width="65%">Resumen de pago</th>
                                    <th>Costo</th>
                                    <th>Envio</th>
                                    <th>Sub-total</th>
                                </tr>
                                <tr>
                                    <td colspan="2">ID de operacion: #{{selfie.id}}</td>
                                    <td>{{selfie.subtotal}}</td>
                                    <td>150.00</td>
                                    <td>{{selfie.total}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4">Descuento</td>                                        
                                    <td>0</td>
                                </tr>

                                <tr>
                                    <th colspan="4"></th>
                                    <th>Total</th>
                                </tr>

                                <tr>
                                    <td colspan="4"></td>
                                    <td>{{selfie.total}}</td>
                                </tr>


                            </thead>



                        {% if payment_method == "conectaio" %}

                            <tbody>

                                <tr>
                                    <td colspan="5">
                                        <p>La compra se encuentra en estado pendiente.</p>

                                        <p>Imprime y presenta este comprobante en cualquier tienda OXXO del país para realizar el pago por tu compra.</p>

                                        <p>El presente recibo solo es valido para el pago que estas efectúando y recuerda que se acreditara en nuestra cuenta 24 hrs despues de haberse realizado. Cualquier aclaración sobre tu compra cominicate a nuestro correo ventas@redcarpetmanicure.com.mx Es nuestra responsabilidad aclarar cualquier duda o reclamo sobre esta compra.</p>

                                        <p>El presente recibo no podrá ser utilizado luego de la fecha de vencimiento</p>

                                        <p class="paymentcode">
                                            <img src="/static/images/payment-oxxo.png"><br>
                                            <img src="{{ checkout.barcode_url }}" width="400">
                                            <strong>{{ checkout.barcode }}</strong>
                                        </p>

                                        <p>(*) El presente recibo debe imprimirse de forma legible y clara, preferentemente con impresora láser y conservarse en buen estado ni tachaduras y/o dobleces. De lo contrario, puede que la tienda donde intentes efecturar tu pago, no pueda capturarlo.</p>

                                        <p>(*) La tienda donde se efectúe el pago cobrara $8 pesos en concepto de recepcion de cobranza</p>


                                    </td>
                                </tr>
                            </tbody>                            

                        {% else %}

                            <tbody>

                                <tr>
                                    <td colspan="5">
                                        <p>La compra se encuentra en estado pendiente.</p>

                                        <p>Realiza tu pago usando vía paypal</p>

                                        <img src="/static/images/paypal-cards.gif" class="left">



                                        {{ checkout.render }}
                                        

                                        <p class="clear">(*) No es necesario imprimir este recibo, si deseas puedes verlo nuevamente entrando a tu panel y desde ahi tu lista de pedidos.</p>

                                    </td>
                                </tr>
                            </tbody>        

                        {% endif %}

                    </table>

                    {% endif %}

                       

                                    
                            
             
                    
                    

                </div>

            </div>
        </div>




        <!-- Side Bar -->

        <div class="large-4 columns">

            
            <div class="sidebar">
                <h3>Detalles del pedido</h3>

                
                <ul><p>Dirección de facturacion</p>

                    <li>{{selfie.fac_nombre}}</li>
                    <li>{{selfie.fac_calle}}</li>
                    <li>{{selfie.fac_colonia}}</li>
                    <li>{{selfie.fac_ciudad}}</li>
                    <li>{{selfie.fac_estado}} {{selfie.fac_cp}}</li>
                </ul>
            
                

                <ul><p>Dirección de envio</p>
                    <li>{{selfie.envio_nombre}} </li>
                    <li>{{selfie.envio_calle}}</li>
                    <li>{{selfie.envio_colonia}} </li>
                    <li>{{selfie.envio_ciudad}}</li>
                    <li>{{selfie.envio_estado}} {{selfie.envio_cp}}</li>
                    {{dev}}
                </ul>

                
                <ul><p>Metodo de envio</p>

                    <li>Envio nacional DHL - {{selfie.shipping}} </li>
                </ul>

               

                <ul> <p>Información de pago</p>
                    <li>
                        {% if selfie.payment == "conectaio" %}
                            OXXO
                        {% else %}
                            {{selfie.payment}}
                        {% endif %}</li>
                </ul>


            </div>

        </div>

        <!-- End Side Bar -->





        </div>
      </div>




    </div>
  </div>


{% endblock %}
