{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Red Carpet : Caja{% endblock %}
{% block content %}


<div class="row contenido">
    <div class="large-12 columns">

        <ul class="breadcrumbs">
          <li><a href="{{ BASE_URL }}">Inicio</a></li>
          <li><a href="{{ BASE_URL }}/store/">Tienda</a></li>
          {% if actual %}<li class="current"><a href="#">{{actual}}</a></li>{% endif %}
        </ul>

      <div class="row cart">
        
        
        
        <div class="large-8 columns">
            <div class="row">

                <div class="large-12 columns">
                    
                    

                    <table class="nicetable">
                        
                        <thead>
                            <tr>
                                <th colspan="2">PRODUCTO</th>
                                <th>COLOR</th>
                                <th>CANTIDAD</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>

                        <tbody>
                            {%for items in lista %}
                            <tr>
                                <td width="20%" align="center">
                                    {% if items.imagen == '' %}
                                        <img src="{{ BASE_URL}}/static/img/noimage.jpg" width="50">
                                    {% else %}
                                        <img src="/media/{{items.imagen}}" width="50">
                                    {% endif %}
                                </td>
                                <td width="45%">{{items.nombre}}</td>
                                <td width="10%">{% for item in items.colores.all %}xD{% endfor %}</td>
                                <td width="15%"><input type="text" class="mini" value="1"><a href="#" class="fa fa-trash-o"></a></td>
                                <td width="10%">${{items.precio}}</td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>

                        <tfoot>
                            <tr>
                                <td>PROMO CODE</td>
                                <td colspan="4"><input type="text" value="" placeholder="Coupon"></td>
                            </tr>
                        </tfoot>

                    </table>

                    <div class="bloque">
                        <span class="right">$9.99</span>
                        SUBTOTAL 
                    </div>
                    
                    <div class="bloque">
                        <span class="right">$199.00</span>
                        ENVIO ESTANDAR POR DHL 
                    </div>

                    <div class="total">
                        <span class="right">$9.99</span>
                        TOTAL:
                    </div>

                    

                    

                    {{ form.rendera }}

                </div>

            </div>
        </div>




        <!-- Side Bar -->

        <div class="large-4 columns">

            
            <div class="sidebar">
                <h3>Detalles del pedido</h3>

                <p>Dirección de facturacion</p>

                <ul>
                    <li>{{user.first_name}} {{user.last_name}}</li>
                    <li>{{user.profile.calle}}</li>
                    <li>{{user.profile.direccion}} </li>
                    <li>{{user.profile.ciudad}}, {{user.profile.estado}} {{user.profile.cp}}</li>
                </ul>
            
                <p>Dirección de envio</p>

                <ul>
                    <li>{{user.first_name}} {{user.last_name}}</li>
                    <li>{{user.profile.calle}}</li>
                    <li>{{user.profile.direccion}} </li>
                    <li>{{user.profile.ciudad}}, {{user.profile.estado}} {{user.profile.cp}}</li>
                </ul>

                <p>Metodo de envio</p>

                <ul>
                    <li>Envio nacional - DHL Standard </li>
                </ul>

                <p>Información de pago</p>

                <ul>
                    <li>Paypal</li>
                </ul>

                {% for items in lista %}

                    {{items.nombre}}

                {% endfor %}
            </div>

        </div>

        <!-- End Side Bar -->





        </div>
      </div>




    </div>
  </div>


{% endblock %}
