<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Red Carpet</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/docs.css" />
    <script src="js/custom.modernizr.js"></script>
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="font/stylesheet.css">

</head>
<body class="antialiased off-canvas hide-extras">
    

<!-- Navigation -->
<div class="top-nav">
<nav class="top-bar row">
    <div class="large-12 columns">
    
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#" class="logo">
            <img src="img/logo.png">
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>       
    
    <div class="search"><input type="text"></div>

    <section class="top-bar-section">
        
      <!-- Right Nav Section -->
      <ul class="right">

        <li><a href="#">ESMALTADO PERMANENTE LED</a></li>
            <li class="divider">&bull;</li>
        <li><a href="#">STARTER KID</a></li>
            <li class="divider">&bull;</li>
        <li><a href="#">PRO KIT</a></li>
            <li class="divider">&bull;</li>
        <li><a href="#">NAIL ART KITS</a></li>
            <li class="divider">&bull;</li>
        <li><a href="#">ACCESORIOS</a></li>


            <li class="divider">&bull;</li>

        <li class="has-dropdown">
          <a href="#">CÓMO APLICAR</a>
          <ul class="dropdown">
            <li><a href="#">Aplicaión</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
            
          </ul>
        </li>

      </ul>
    </section>

    </div>
</nav>
</div>
<!-- End Top Bar -->

<!-- End Navigation -->



<div class="row">
    <div class="large-12 columns">

        <ul class="breadcrumbs">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Tienda</a></li>
          <li class="unavailable"><a href="#">Categoría</a></li>
          <li class="current"><a href="#">Subcategoría</a></li>
        </ul>

      <div class="row">

  <!-- Side Bar -->

        <div class="large-4 columns">

          <img src="http://placehold.it/500x500&amp;text=PROMO">

          <div class="hide-for-small panel">
            <h3>Header</h3>
            <h5 class="subheader">Bacon ipsum dolor sit amet short loin ullamco commodo, ea chicken laborum pariatur tail biltong anim turducken.
            </h5>
          </div>

          <a href="#">
          <div class="panel callout radius">
            <h6>99&nbsp; items in your cart</h6>
          </div>
          </a>

        </div>

    <!-- End Side Bar -->


    <!-- Thumbnails -->

        <div class="large-8 columns">
          <div class="row">

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/1000x1000&amp;text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
                <a href="#" class="tiny button">Añadir »</a>
              </div>
            </div>

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&amp;text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
                <a href="#" class="tiny button">Añadir »</a>
              </div>
            </div>

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&amp;text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
                <a href="#" class="tiny button">Añadir »</a>
              </div>
            </div>

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&amp;text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
                <a href="#" class="tiny button">Añadir »</a>
              </div>
            </div>

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&amp;text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
                <a href="#" class="tiny button">Añadir »</a>
              </div>
            </div>

            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/500x500&amp;text=Thumbnail">

              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
                <a href="#" class="tiny button">Añadir »</a>
              </div>
            </div>
          </div>

    <!-- End Thumbnails -->


    <!-- Managed By -->
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-2 small-6 columns">
                    <img src="http://placehold.it/300x300&amp;text=Site Owner">
                  </div>

                  <div class="large-10 small-6 columns">
                    <strong>Extra<hr></strong>

                    Bacon ipsum dolor sit amet short loin ullamco commodo, ea chicken laborum pariatur tail biltong anim turducken. 
                  </div>

                </div>
              </div>
            </div>

    <!-- End Managed By -->

          </div>
        </div>
      </div>


    <!-- Footer -->

      <footer class="row">
        <div class="large-12 columns"><hr>
          <div class="row">

            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>

            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>

          </div>
        </div>
      </footer>

    <!-- End Footer -->

    </div>
  </div>


<!-- FOOTER -->
    
<div class="footer">

        <footer class="row">

            

            <div class="large-5 small-12 columns">
                <p>Copyright&copy; 2013 Besign All Rights Reserved </p>
            </div>

            <div class="large-4 small-7 columns">
                <p>  Contact: Cookie Policy   T&Cs    FAQ </p>
            </div>

            <div class="large-1 show-for-large-up columns">
                <p>Follow us </p>
            </div>

            <div class="large-2 small-5 columns">
                <ul class="social">
                    <li><a href="#" class="twitter"></a></li>
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="pinterest"></a></li>
                </ul>
            </div>




        </footer>
</div>

        
    

<script>

      document.write('<script src="http://foundation.zurb.com/docs/assets/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js"><\/script>');
    </script>
<script src="js/docs.js"></script>
<script>
      $(document).foundation();
      

      $.ajax({
        url: '//zurb.com/jobs/widgets/jobs.json?limit=3',
        dataType: 'jsonp',
        success: function(data) {
          var list = $("<ul></ul>");
          $.each(data.jobs, function(idx, job) {
            var item = "<li><a href='"+job.url+"' target='_blank'>" +
              "<span class='positionTitle'>"+job.title+"</span>" +
              "<span class='location'><span class='companyName'>"+job.company_name+"</span> in "+job.location+"</span>" +
              "</a>" +
              "</li>";
            list.append(item);
          });
            // Customize This
          $("#zurbJobsWidget").html(list);
        }
      });

      // For Kitchen Sink Page
      $('#start-jr').on('click', function() {
        $(document).foundation('joyride','start');
      });
      
    </script>
  </body>
</html>
