{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Red Carpet : Productos{% endblock %}
{% block content %}


<div class="row contenido">
    <div class="large-12 columns">

        <ul class="breadcrumbs">
          <li><a href="{{ BASE_URL }}">Inicio</a></li>
          <li><a href="{{ BASE_URL }}/seccion/">Seccion</a></li>
          {% if actual %}<li class="current"><a href="#">{{actual}}</a></li>{% endif %}
        </ul>

      <div class="row">



  <!-- Side Bar -->

        <div class="large-12 columns">

            <div class="nicetable">

                <h1>Preguntas frecuentes</h1>


                <div class="faq">
<a name="1"></a><h2>P: Al limpiar la uña con Purify/Limpiador después de la aplicación de Brilliance/Top Coat, el algodón se mancha con parte del color aplicado. ¿Es normal?</h2><br><br>R: No, no es normal. Es debido a que o bien el producto Structure/Base Coat o bien el color&nbsp; se han aplicado en capas demasiado gruesas. Recuerda aplicar los productos en capas finas para una perfecta manicura RED CARPET. <br><br>

<a name="2"></a><h2>P: Noto que al secar la Structure/Base Coat, ésta se encoge. ¿Qué debo hacer?</h2><br>R: Disminuye la cantidad de producto Structure/Base Coat al aplicarlo. Elimina todo el exceso de producto del pincel antes de aplicarlo. Recuerda que debes aplicar capas muy finas. <br>&nbsp;<br>

<a name="3"></a><h2>P: ¿Puedo aplicar un esmalte cualquiera en lugar del Esmaltado Permanente Led Gel Polish con este sistema?</h2><br>R: No. Este sistema garantiza resultados únicamente con los esmaltes de color RCM Esmaltado Permanente Led Gel Polish.<br><br>

<a name="4"></a><h2>P: ¿Red Carpet Manicure puede dañar la uña natural?</h2><br>A: No, Red Carpet Manicure no daña la uña natural si se aplica correctamente.Los productos RED CARPET MANICURE refuerzan la uña natural, creciendo más bella y sana.<br><br>

<a name="5"></a><h2>P: ¿Puedo aplicar Red Carpet Manicure sobre acrílicos o geles?</h2><br>R: ¡Por supuesto! Pero recuerda retirar el brillo del acrílico o gel con un buffer antes de la aplicación de la manicura RED CARPET, tal y como harías sobre la uña natural. <br><br>

<a name="6"></a><h2>P: ¿Porqué mi manicura RED CARPET se ha retirado completamente dos días después de su aplicación?</h2><br>R: Probablemente has aplicado un exceso de Structure/Base Coat y no se ha sellado correctamente en punta de lado a lado. Para un completo sellado del borde libre desliza el pincel de lado a lado por el borde de la punta de la uña.<br><br>

<a name="7"></a><h2>P: ¿Puedo utilizar acetona normal para retirar RED CARPET MANICURE en lugar del producto Erase/Removedor?</h2><br>R: Una acetona normal retirará la manicura RED CARPET pero no está recomendada. El producto Erase/Removedor está especialmente formulado con agentes nutritivos que ayudan a que la uña natural no se reseque.<br><br>

<a name="8"></a><h2>P: ¿Puedo sustituir el producto Purify/Limpiador por alcohol regular?</h2><br>R: No se recomienda utilizar alcohol regular para limpiar la uña pues es muy agresivo para el producto RED CARPET MANICURE. Al utilizar un alcohol cualquiera el esmalte se volvería mate en lugar de proporcionar un acabado de brillo intenso.<br><br>

<a name="9"></a><h2>P: ¿Puedo aplicar más color para rellenar el esmaltado una vez la uña comienza a crecer?</h2><br>R: Sí, puedes rellenar tu manicura RED CARPET. Todo lo que necesitas es retirar el brillo de las uñas con un buffer. Limpiar cada uña con el producto Purify/Limpiador y repetir todos los pasos de una aplicación regular. Recuerda cubrir toda la uña, no sólo la parte que hay que rellenar. <br><br>

<a name="10"></a><h2>P: ¿Puedo aplicar capas de distintos colores con RED CARPET MANICURE?</h2><br>R: ¡Sin duda! Ese es el motivo por el cual la línea RED CARPET MANICURE es tan increíble y versátil. ¡Puedes combinar distintos colores para encontrar el de tu propia creación!<br><br>

<a name="11"></a><h2>P: ¿Puedo usar una lámpara UV para secar los productos RED CARPET MANICURE?</h2><br>R: Sí. Pero comprueba que la lámpara tiene una potencia mínima de 36 vatios para asegurar un correcto secado. <br><br>

<a name="12"></a><h2>P: ¿Puedo realizar una manicura francesa con esta línea?</h2><br>R: Encontrarás los tonos para realizar la manicura francesa tradicional, así como muchos más para combinar como tu desees. ¡Sólo deja volar tu imaginación!</div>


        </div>

    <!-- End Side Bar -->



          </div>
        </div>
      </div>




    </div>
  </div>


{% endblock %}
