{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Red Carpet : Productos{% endblock %}
{% block content %}

<div class="seccion">
    <div class="row ">
        <div class="large-12 columns">

            <h1>{% for items in productos %}{{items.nombre}}{% endfor %}</h1>

        </div>
    </div>
</div>


<div class="row contenido">
    <div class="large-12 columns">

        <ul class="breadcrumbs">
          <li><a href="{{ BASE_URL }}">Inicio</a></li>
          <li><a href="{{ BASE_URL }}/store/">Tienda</a></li>
          {% if actual %}<li class="current"><a href="#">{% for items in productos %}{{items.nombre}}{% endfor %}</a></li>{% endif %}
        </ul>

      <div class="row">



  <!-- Side Bar -->

        <div class="large-4 columns">

            <div class="sidebar">
                <p>
                    Productos en el carrito: <span id="current_basket">{{current_basket}}</span>
                </p>

                <p>
                    <a href="{{ BASE_URL }}/store/checkout/" class="niceButton left medium">Pagar</a>
                    <div class="clear"></div>
                </p>

                {{dev}}

            </div>

            <div class="hide-for-small">
                <div class="colores">
                    {% for item  in colores %}
                        <a href="{{ BASE_URL }}/store/color/{{ item.id }}/" title="{{item.color}}"><img src="/media/{{item.imagen}}"></a>
                    {% endfor %}
                </div>
            </div>

            <img src="{% static "img/temporada.png" %}">



        </div>

    <!-- End Side Bar -->


    <!-- Thumbnails -->

        <div class="large-8 columns">
          <div class="row">

          {% for items in productos %}

                <div class="large-12  producto columns">
                    <div class="basket pleft">


                        <a href="{{ BASE_URL}}/store/product/{{ items.id }}">
                        {% if items.imagen == '' %}
                            <img src="{{ BASE_URL}}/static/img/noimage.jpg" class="preview">
                        {% else %}
                            <img src="{{ BASE_URL}}/media/{{items.imagen}}">
                        {% endif %}
                        </a>

                        <div>
                          <h3><a href="{{ BASE_URL}}/store/product/{{ items.id }}">{{items.nombre}}</a></h3>
                          <p>{{ items.descripcion }}</p>
                         
                          <h4>{% if items.precio != 0.00 %}${{items.precio}}{% else %}Proximamente{% endif %}</h4>
                          {% if items.precio != 0.00 %}
                          <a href="#" rel="{{items.id}}" class="addtocar niceButton left medium">Agregar al carrito</a>
                          {% endif %}


                          <div class="clear"></div>
                        </div>
                    </div>
                </div>

          {% endfor %}




          </div>

    <!-- End Thumbnails -->



          </div>
        </div>
      </div>




    </div>
  </div>


{% endblock %}
